# Dependency directories
node_modules/

# Distribution files
dist/
dist.tar.gz

# Optional npm cache directory
.npm
yarn.lock

# Optional eslint cache
.eslintcache
C:Develnodejsnpm-cache

.DS_Store
package-lock.json

# IntelliJ Files
.idea
/dist
